.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

button:hover {
    transform: scale(1.05);
}

img {
    width: 30px;
    height: 30px;
	filter: invert(1);

}

.invert-icon {
    filter: invert(1);
}
body {
    width: 300px;
    padding: 10px;
	align-items: center;
	justify-content: center;

}

#buzz-div {
    text-align: center; /* Centers the text */
    font-weight: bold; /* Makes the text bold */
    font-size: 1.2rem; /* Optional: Increase size */
    margin-top: 10px; /* Add spacing */
}